html(lang="ru")
	head
		meta(charset="utf-8")
		title Эко мания
		include inc/head.pug
		include inc/css.pug
	body.inner.loading.ecomaniya
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__content
					.eco-maniya
						.eco-maniya__loader
							.eco-loader
								figure.eco-loader__recycle
									include ../img/recycle.svg
								figure.eco-loader__shadow-evlev
									img(src="img/shadow-evlev.png")
								figure.eco-loader__light-evlev
									img(src="img/light-evlev.png")
								.eco-loader__text 
									.eco-loader__text-text МУСОР СОРТИРУЕШЬ?
									.eco-loader__text-loader
										.el-loader
											.el-loader__loader 
												.el-loader__loader-progress
											.el-loader__text Загрузка
									script(data-skip-moving="true")
										| ;(function(){
										| 	var progressBg = document.querySelector(".el-loader__loader-progress"),
										| 		maxProgress = 21;
										|
										| 	var curStep = 0;
										|
										| 	var preloaderTimer = setInterval(function(){
										|		if (curStep < maxProgress){
										|			progressBg.setAttribute("data-counter", curStep)
										|			progressBg.style.transform = "scaleX("+(curStep / 100)+")"
										|			curStep++
										|		}
										|	}, 200)
										|
										| 	window.addEventListener("load", function() {
										| 		clearInterval(preloaderTimer)
										| 	})
										| })()
						.eco-maniya__banner
							.eco-top-img
								.eco-top-img__img
									img(src="img/photos/eco-top-img.jpg")
								.eco-top-img__text
									.wrapper
										//- .eti-text
										//- 	.eti-text__title ЭКОЛОГИКА LORENA
										//- 	figure.eti-text__img
										//- 		img(src="img/photos/eco-top-img-eco.jpg")
										//- 		figcaption МАНИЯ
										//- 	.eti-text__subtitle Экология - это очень важно 
										//- 		br
										//- 		| (Спасибо, Грета)
										//- 	.eti-text__link
										.eco-top-img__text-decor
											img(src="img/!-text.svg")
											img(src="img/!.svg")
						.eco-maniya__steps
							.wrapper
								.eco-steps
									.eco-steps__title
										.eco-title
											b Eco
											| шаги LORENA
									.eco-steps__ivlev
										.es-ivlev
											figure.es-ivlev__img
												img(src="img/photos/ivlev-notice.png")
											figcaption.es-ivlev__text Кухня тоже может и должна
												br
												| быть экологичной. 
												br
												| (LORENA и ШЕФ)
									.eco-steps__slider
										.es-slider
											.es-slider__arrows
												.swiper-button-prev
												.swiper-button-next
											.swiper-wrapper
												each slide, i in ["Промышленные отходы измельчаем и утилизируем", "Сокращаем потребление бумаги: минус 22 тонны в год за счет отказа от полиграфии", "Запустили программу утилизации старой мебели, в том числе и мебели LORENA ", "Используем энергоэффективные технологии в производстве", "Благодаря фильтрам для очистки воздуха сократили количество вредных выбросов в атмосферу", "Мы используем только экологичные и нетоксичные  материалы", ]
													.swiper-slide
														.es-slider__slide
															figure.es-slider__slide-img
																img(src="img/photos/es-slider-img-"+i+".png")
															figcaption.es-slider__slide-text=slide
					.eco-maniya__turn-on
						.wrapper
							.turn-on
								.turn-on__title-top Начни с себя!
								.turn-on__title
									.eco-title Вруби 
										b eco
										| Манию!
									.turn-on__title-text
										p Отвечай на вопросы, жми на рубильник, узнай насколько ты 
											b ECO
								.turn-on__slider
									.turn-on__slider-slider
										- var variants = [["Мусор сортируешь?", "У тебя есть пакет с пакетами?", "Отходы измельчаешь?"], ["Воду экономишь?", "Дерево посадил?", "Бумагу экономишь?"], ["Пользуешься многоразовой посудой?", "У тебя экокухня от LORENA?", "У тебя экокухня от LORENA?"]]
										.to-sliders
											.to-sliders__counters
												.to-counter
													span.to-counter__current 0 
													span.to-counter__total  / 9
											.to-sliders__item
												.to-slider
													.swiper-wrapper
														each text, i in variants[0]
															.swiper-slide
																figure.to-slide
																	img(src="img/photos/eco-turn-img-"+i+".png")
																figcaption.to-slide__text=text
												.to-sliders__item-answers
													.to-answers
														.to-answers__btn
															button.answer-btn.answer-btn--yes Да
														.to-answers__btn
															button.answer-btn.answer-btn--no Нет
											.to-sliders__item
												.to-slider
													.swiper-wrapper
														each text, i in variants[1]
															.swiper-slide
																figure.to-slide
																	img(src="img/photos/eco-turn-img-"+(i+3)+".png")
																figcaption.to-slide__text=text
												.to-sliders__item-answers
													.to-answers
														.to-answers__btn
															button.answer-btn.answer-btn--yes Да
														.to-answers__btn
															button.answer-btn.answer-btn--no Нет
											.to-sliders__item
												.to-slider
													.swiper-wrapper
														each text, i in variants[2]
															.swiper-slide
																figure.to-slide
																	img(src="img/photos/eco-turn-img-"+(i+5)+".png")
																figcaption.to-slide__text=text
												.to-sliders__item-answers
													.to-answers
														.to-answers__btn
															button.answer-btn.answer-btn--yes Да
														.to-answers__btn
															button.answer-btn.answer-btn--no Нет
											.to-sliders__item.to-sliders__item--mobile
												.to-slider
													.swiper-wrapper
														each text, i in variants[0]
															.swiper-slide
																figure.to-slide
																	img(src="img/photos/eco-turn-img-"+(i+5)+".png")
																figcaption.to-slide__text=text
														each text, i in variants[1]
															.swiper-slide
																figure.to-slide
																	img(src="img/photos/eco-turn-img-"+(i+5)+".png")
																figcaption.to-slide__text=text
														each text, i in variants[2]
															.swiper-slide
																figure.to-slide
																	img(src="img/photos/eco-turn-img-"+(i+5)+".png")
																figcaption.to-slide__text=text
												.to-sliders__item-answers
													.to-answers
														.to-answers__btn
															button.answer-btn.answer-btn--yes Да
														.to-answers__btn
															button.answer-btn.answer-btn--no Нет
									.turn-on__slider-starter
										.tos-starter
											figure.tos-starter__img
												img.tos-starter__img-img(src="img/starter.jpg")
								.turn-on__button
									button.default-btn Посмотреть результат
								.turn-on__notice Сначала вам нужно ответить на вопросы
					.eco-maniya__level
						.wrapper
							.eco-level(data-min="0" data-max="2")
								.eco-level__title-top ТВОЙ УРОВЕНЬ
								.eco-level__title
									.eco-title 
										b ECO
										| чайник
								.eco-level__text
									p Ого, а ты на верном пути! Ведь ты уже понимаешь, что просто «свистеть» об экологии – это совсем не вариант, а пора, наконец, что-то сделать. Начни с эко-кухни от LORENA, или установи измельчитель в свою кухню, а еще не забывай зарядные устройства в розетках и смело выходи с друзьями на субботник в своем дворе. Даже маленький эко-шаг, сделает планету чище, а тебя и твоих близких счастливее!  
								figure.eco-level__decor
									img(src="img/eco-level-decor.png")
							.eco-level(data-min="3" data-max="5")
								.eco-level__title-top ТВОЙ УРОВЕНЬ
								.eco-level__title
									.eco-title 
										b ECO
										| молодец
								.eco-level__text
									p Ого, а ты на верном пути! Ведь ты уже понимаешь, что просто «свистеть» об экологии – это совсем не вариант, а пора, наконец, что-то сделать. Начни с эко-кухни от LORENA, или установи измельчитель в свою кухню, а еще не забывай зарядные устройства в розетках и смело выходи с друзьями на субботник в своем дворе. Даже маленький эко-шаг, сделает планету чище, а тебя и твоих близких счастливее!  
								figure.eco-level__decor
									img(src="img/eco-level-decor.png")
							.eco-level(data-min="6" data-max="7")
								.eco-level__title-top ТВОЙ УРОВЕНЬ
								.eco-level__title
									.eco-title 
										b ECO
										| молодец
								.eco-level__text
									p Ого, а ты на верном пути! Ведь ты уже понимаешь, что просто «свистеть» об экологии – это совсем не вариант, а пора, наконец, что-то сделать. Начни с эко-кухни от LORENA, или установи измельчитель в свою кухню, а еще не забывай зарядные устройства в розетках и смело выходи с друзьями на субботник в своем дворе. Даже маленький эко-шаг, сделает планету чище, а тебя и твоих близких счастливее!  
								figure.eco-level__decor
									img(src="img/eco-level-decor.png")
							.eco-level(data-min="8" data-max="9")
								.eco-level__title-top ТВОЙ УРОВЕНЬ
								.eco-level__title
									.eco-title 
										b ECO
										| гуру
								.eco-level__text
									p Ого, а ты на верном пути! Ведь ты уже понимаешь, что просто «свистеть» об экологии – это совсем не вариант, а пора, наконец, что-то сделать. Начни с эко-кухни от LORENA, или установи измельчитель в свою кухню, а еще не забывай зарядные устройства в розетках и смело выходи с друзьями на субботник в своем дворе. Даже маленький эко-шаг, сделает планету чище, а тебя и твоих близких счастливее!  
								figure.eco-level__decor
									img(src="img/eco-level-decor.png")
			.main-choose__cont.main-choose__cont--no-bg
				.wrapper
					.main-choose
						.main-choose__form
							.main-choose__text-title Закажи экокухню LORENA прямо сейчас!
							.main-choose__text-subtitle и зарази ЭКОМАНИЕЙ 2-х человек
							.choose-form 
								form(action="#")
									.choose-form__inputs
										.default-input
											input.default-input__input(type="text" placeholder="Иван" required)
											label.default-input__label Ваше имя
											.forms__error-message
										.default-input.default-input--select
											select.default-input__input.default-input__input--select(type="text" data-placeholder="Выберите город" required)
												option(value="Выберите город" disabled="")
												option(value="1" selected="") Челябинск
												option(value="2") Челябинск
												option(value="3") Челябинск
												option(value="4") Челябинск
												option(value="5") Челябинск
											label.default-input__label Город
											.forms__error-message
										.default-input
											input.default-input__input(type="tel" placeholder="+7 (351) 000 00 00" inputmode="tel" data-mask="phone" size="25" pattern='\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}' required)
											label.default-input__label Телефон
											.forms__error-message
										.default-input
											input.default-input__input(type="email" placeholder="Ivan@mail.ru" required  pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{1,63}$" inputmode="email")
											label.default-input__label E-mail
											.forms__error-message
										.choose-form__bot
											.choose-form__bot-submit
												input.arrow-btn.choose-form__submit(type="submit" value="Отправить")
						figure.main-choose__img
							img(src="img/photos/eco-ivlev.png")
		div(style="display: none")
			include symbol/sprite.svg
		include inc/footer.pug
		include inc/scripts.pug
		//- script(src="js/main-page.js") 